.git
.gitignore
__pycache__
*.pyc
.venv
venv
renv/library
.Rproj.user
.Rhistory
mlflow/
check_points/*.pt
models/*.pt
*.duckdb
.DS_Store
training_data/raw/*
training_data/labeled/*
training_data/excel/*
training_data/jobs/*
training_data/training_csv/*
!training_data/**/.gitkeep
