services:
  cyberarxiv:
    build: .
    container_name: cyberarxiv
    restart: unless-stopped
    environment:
      - MAX_RESULTS=100
      - QUERY=
    ports:
      - "8000:8000"
    volumes:
      - ./data:/srv/cyberarxiv/data
      - ./site:/var/www/html
